body{
    background: linear-gradient(to right, #485563, #29323c);
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Serif', serif;
    
  
}


nav{
    box-shadow: 2px 19px 27px -7px rgba(253,251,251,0.25);
    -webkit-box-shadow: 2px 19px 27px -7px rgba(253,251,251,0.25);
    -moz-box-shadow: 2px 19px 27px -7px rgba(253,251,251,0.25);
}
.navbar-brand{
    letter-spacing: 4px;
    font-size: 27px;
    
}


nav ul li.nav-item a{
  color: #fff!important;
  text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    margin-right:20px ;
}

nav ul li.nav-item a:hover{
  color: #fff!important;
  background-size: 100% 2px;
  
}


.titulos h2{
    font-size: 40px;
    letter-spacing: 3px;    
    text-align: center;
    background: #1b2021;
    color: #fff;     
    width: 800px;
    height: 50px;
    margin: auto;
    border-radius: 12px;
    margin-top: 90px;
    margin-bottom: 50px;
    box-shadow: 2px 19px 27px -7px rgba(253,251,251,0.25);
    -webkit-box-shadow: 2px 19px 27px -7px rgba(253,251,251,0.25);
    -moz-box-shadow: 2px 19px 27px -7px rgba(253,251,251,0.25); 
          
}



/*.boton a{
    color: #fff;
    font-size: 23px;
    background: #151515;
    border: 1 px solid #fff; 
}

.boton a:hover{
    background-color:red;   
    font-size: 25;
}


.cambio .boton{
    background:#856a6f;
    color:#fff;
}

.cambio .boton:hover{
    background: #fff;
    color: #151515;
}

*/

.boton a:hover{
    background:#fff;
    color: #151515;   
    font-size: 25;
}





.boton a{
    color: #fff;
    font-size: 22px;
    background: #151515;
    border: 1 px solid #fff; 
    border-radius: 15px;
}


.card .card-body a:hover{
   background: #fff;
   color: #151515;
   border-radius: 15px;
   font-size: 23px;
}

.card{
    background: rgba(0,0,0,0.3);
    border-radius: 20px;
}



.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:15px;
    background:#1cc55a;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
    } 
    .btn-wsp:hover {
    text-decoration: none;
    color: #25d366;
    background-color:#fff;
    }
    .icono{
    margin-top:16px;
    margin-left:3px;
    }


    .titulo h6{color: #fff;}

    .redes a{
        
        list-style: none;
        text-decoration: none;        
        font-size: 20px;
        color: #fff;
        margin-right: 15px;
        
        
    }

    .redes a:hover{        
        color: yellow;
    }


    @media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
    width:63px;
    height:63px;
        }
        
       .titulos{
           background: #1b2021;
            width: 320px;            
            margin: auto;            
            margin-top: 10px;
            margin-bottom: 15px;
            border-radius: 13px;
       }
        
        .titulos h2{
            font-size: 25px;
            letter-spacing: 3px;    
            color: white; 
            width: 320px; 
            height: 40px;
            padding: 0;
            margin: 0;
                          
        }
        
    }

   
    @media only screen and (min-width:300px) and (max-width:480px){

       

        iframe{
            width: 300px;
            height: 190px;
        }

        

    }    


    @media only screen and (min-width:300px) and (max-width:380px){

       

        iframe{
            width: 295px;
            height: 150px;
        }
        

        .titulo a{
            
            font-size: 20px;
        }

    }